<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link  rel='stylesheet' href='assets/css/Demo box - small.css'/> 	
</head>

<body>	

	<div class='demo-box'>
		<h1> Design 1  </h1>		
	</div>
	<div class='demo-box'>
		<h1> Design 2  </h1>		
	</div>
	<div class='demo-box'>
		<h1> Design 3 </h1>		
	</div>
	<div class='demo-box'>
		<h1> Design 4  </h1>		
	</div>
	<div class='demo-box'>
		<h1> Design 5  </h1>		
	</div>
	<div class='demo-box'>
		<h1> Design 6  </h1>		
	</div>
	
			
</body>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src='assets/js/Demo box - small.js'/><script>
</html>


